.selected {
    margin-top: 75px;

    &__card {
        position: relative;
        padding: 50px;
        width: 100%;
        max-width: 1110px;
        min-height: 668px;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
    }

    &__like {
        position: absolute;
        top: 2%;
        left: 2%;
    }

    &__card-logo {
        position: absolute;
        top: 2%;
        right: 2%;
    }

    &__img-wrapper {
        display: flex; 
        flex-wrap: wrap;
        gap: 20px;
    }

    &__text-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__card-full-info {
        background: #F9F9F9;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        width: 824px;
        min-height: 300px;
    }

    &__title {
        padding: 20px 22px;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
    }

    &__desc-wrapper {
        padding: 20px 22px;
        display: flex; 
        flex-direction: column;
        gap: 10px;
    }

    &__desc-wrapper p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #1C1C27;
    }

    &__btn-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 18px;

        .kupit {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 254px;
            min-height: 45px;
            background: #101010;
            color: #fff;
            text-decoration: none;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
        }
    }

    &__button {
        border: none;
        width: 254px;
        min-height: 45px;
        background: #101010;
        color: #fff;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        img {
            margin-right: 15px;
        }
    }

    &__flex {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
    }
}